---
draft: true
---
## Work-in-progress bestanden
*Doel: De onderstaande bestanden hebben nog todo items in de markdown staan.*
Deze todo items moeten nog worden afgehandeld.

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| 🔨 | 26. work-in-progress test | 26. work-in-progress test.md | N/A | N/A | Geen taxco gevonden<br>Work-in-progress items gevonden: <br>-=ENUM=-<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 26. work-in-progress test |


## Gefaalde bestanden
*Doel: De onderstaande bestanden zijn niet succesvol verwerkt.*

❌ Dit bestand bevat nog geen taxonomie codes.
⚠️ Dit bestand bevat fouten. Zie de *Errors* kolom.

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| ⚠️ | 1. Correct taxonomie codes | 1. Correct taxonomie codes.md | bg-24.2.Alleen-Niveau-Twee.PI<br>bg-24.2.Niveau-Twee-En-Drie.PI<br>bg-24.3.Niveau-Twee-En-Drie.PI<br>ib-19.2.Ander-Eerste-Onderdeel.PI<br>ib-19.3.Ander-Eerste-Onderdeel.PI | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Alleen-Niveau-Twee<br>Ander-Eerste-Onderdeel<br>Beheerproces<br>Bouwen softwaresysteem<br>Gebruiken beheersysteem<br>Implentatieproces<br>Niveau-Twee-En-Drie<br>bg-24.2.Alleen-Niveau-Twee.PI<br>bg-24.2.Niveau-Twee-En-Drie.PI<br>bg-24.3.Niveau-Twee-En-Drie.PI<br>ib-19.2.Ander-Eerste-Onderdeel.PI<br>ib-19.3.Ander-Eerste-Onderdeel.PI | Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 1. Correct taxonomie codes |
| ⚠️ | 10. Taxonomie code zonder onderwerp (tc-3) | 10. Taxonomie code zonder onderwerp (tc-3).md | bg-24.2.OI | N/A | Ongeldige taxco:  `bg-24.2.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 10. Taxonomie code zonder onderwerp (tc-3) |
| ⚠️ | 11. Taxonomie code zonder niveau (tc-2) | 11. Taxonomie code zonder niveau (tc-2).md | bg-24.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 11. Taxonomie code zonder niveau (tc-2) |
| ⚠️ | 12. Taxonomie code zonder tc-1 | 12. Taxonomie code zonder tc-1.md | 2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `2.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 12. Taxonomie code zonder tc-1 |
| ⚠️ | 13. Taxonomie code met 0 in tc-1 | 13. Taxonomie code met 0 in tc-1.md | bg-0.2.Alleen-Niveau-Twee.OI | N/A | Taxco niet in dataset:  `bg-0.2.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 13. Taxonomie code met 0 in tc-1 |
| ⚠️ | 14. Taxonomie code met spaties in tc-3 | 14. Taxonomie code met spaties in tc-3.md | bg-24.2.Alleen Niveau Twee.OI | N/A | Ongeldige taxco:  `bg-24.2.Alleen Niveau Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 14. Taxonomie code met spaties in tc-3 |
| ⚠️ | 15. Taxonomie code tussen tc-1 en tc-2 | 15. Taxonomie code tussen tc-1 en tc-2.md | bg-24. 2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24. 2.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 15. Taxonomie code tussen tc-1 en tc-2 |
| ⚠️ | 16. Taxonomie code tussen tc-2 en tc-3 | 16. Taxonomie code tussen tc-2 en tc-3.md | bg-24.2. Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.2. Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 16. Taxonomie code tussen tc-2 en tc-3 |
| ⚠️ | 17. Taxonomie code tussen tc-3 en tc-4 | 17. Taxonomie code tussen tc-3 en tc-4.md | bg-24.2.Alleen-Niveau-Twee. OI | N/A | Ongeldige taxco:  `bg-24.2.Alleen-Niveau-Twee. OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 17. Taxonomie code tussen tc-3 en tc-4 |
| ⚠️ | 18. Taxonomie code die niet behandeld hoeft te worden | 18. Taxonomie code die niet behandeld hoeft te worden.md | bg-24.2.Geen-Niveau.OI<br>bg-24.3.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>Geen-Niveau<br>bg-24.2.Geen-Niveau.OI<br>bg-24.3.Alleen-Niveau-Twee.OI | Taxco gebruikt wanneer niet nodig:  `bg-24.2.Geen-Niveau.OI`<br>Taxco gebruikt wanneer niet nodig:  `bg-24.3.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 18. Taxonomie code die niet behandeld hoeft te worden |
| ⚠️ | 19. Dezelfde taxonomie code twee keer | 19. Dezelfde taxonomie code twee keer.md | bg-24.2.Alleen-Niveau-Twee.DT<br>bg-24.2.Alleen-Niveau-Twee.DT | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.DT | Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 19. Dezelfde taxonomie code twee keer |
| ⚠️ | 2. Taxonomie code op negatief niveau | 2. Taxonomie code op negatief niveau.md | bg-24.-2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.-2.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 2. Taxonomie code op negatief niveau |
| ⚠️ | 20. Dezelfde taxonomie code twee keer, maar ander niveau | 20. Dezelfde taxonomie code twee keer, maar ander niveau.md | bg-24.3.Niveau-Twee-En-Drie.LT<br>bg-24.2.Niveau-Twee-En-Drie.LT | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Beheerproces<br>Gebruiken beheersysteem<br>Niveau-Twee-En-Drie<br>bg-24.2.Niveau-Twee-En-Drie.LT<br>bg-24.3.Niveau-Twee-En-Drie.LT | Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 20. Dezelfde taxonomie code twee keer, maar ander niveau |
| ❌ | 21. Fouten in dynamisch link opgelost | 21. Fouten in dynamisch link opgelost.md | N/A | N/A | Bestand niet gevonden:  `foutieveLinkEen`<br>Bestand niet gevonden:  `foutieveLinkTwee`<br>Geen taxco gevonden<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 21. Fouten in dynamisch link opgelost |
| ⚠️ | 22. Twee taxonomie codes met fouten | 22. Twee taxonomie codes met fouten.md | bg-0.2.Alleen-Niveau-Twee.OI<br>bg-24.2.Alleen-Niveau-Twee.JH | N/A | Taxco niet in dataset:  `bg-0.2.Alleen-Niveau-Twee.OI`<br>Ongeldige taxco:  `bg-24.2.Alleen-Niveau-Twee.JH`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 22. Twee taxonomie codes met fouten |
| ⚠️ | 23. Taxonomie code met al bestaande tag | 23. Taxonomie code met al bestaande tag.md | bg-24.2.Alleen-Niveau-Twee.PI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>DezeTagMoetBlijvenBestaan<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.PI | Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 23. Taxonomie code met al bestaande tag |
| ⚠️ | 24. Taxonomie code met al bestaande tag gelijk aan het onderwerp | 24. Taxonomie code met al bestaande tag gelijk aan het onderwerp.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 24. Taxonomie code met al bestaande tag gelijk aan het onderwerp |
| ❌ | 25. 2 van de 5 images gebruikt | 25. 2 van de 5 images gebruikt.md | N/A | N/A | Geen taxco gevonden |
| ⚠️ | 27. Taxonomie code met te veel punten | 27. Taxonomie code met te veel punten.md | bg-24.2.Alleen.Niveau.Twee.LT | N/A | Ongeldige taxco:  `bg-24.2.Alleen.Niveau.Twee.LT`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 27. Taxonomie code met te veel punten |
| ⚠️ | 28. Taxonomie code met spaties bij onderwerp | 28. Taxonomie code met spaties bij onderwerp.md | bg-24.2.Alleen Niveau.Twee.LT | N/A | Ongeldige taxco:  `bg-24.2.Alleen Niveau.Twee.LT`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 28. Taxonomie code met spaties bij onderwerp |
| ⚠️ | 29. Taxonomie code met spatie in onderwerp en punt te veel | 29. Taxonomie code met spatie in onderwerp en punt te veel.md | bg-24.2.Alleen Niveau Twee.LT | N/A | Ongeldige taxco:  `bg-24.2.Alleen Niveau Twee.LT`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 29. Taxonomie code met spatie in onderwerp en punt te veel |
| ⚠️ | 3. Taxonomie code op niveau 0 | 3. Taxonomie code op niveau 0.md | bg-24.0.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.0.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 3. Taxonomie code op niveau 0 |
| ⚠️ | 30. Taxonomie code met lege lijst(en) | 30. Taxonomie code met lege lijst(en).md | []<br>["[]"]<br>None<br>["None"]<br>[""]<br>"None" | N/A | Ongeldige taxco:  `[]`<br>Ongeldige taxco:  `["[]"]`<br>Ongeldige taxco:  `None`<br>Ongeldige taxco:  `["None"]`<br>Ongeldige taxco:  `[""]`<br>Ongeldige taxco:  `"None"`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 30. Taxonomie code met lege lijst(en) |
| ⚠️ | 4. Taxonomie code op niveau 4 | 4. Taxonomie code op niveau 4.md | bg-24.4.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.4.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 4. Taxonomie code op niveau 4 |
| ⚠️ | 5. Taxonomie code met negatieve tc-1 | 5. Taxonomie code met negatieve tc-1.md | bg--24.2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg--24.2.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 5. Taxonomie code met negatieve tc-1 |
| ⚠️ | 6. Taxonomie code met verkeerd tc-1 nummer | 6. Taxonomie code met verkeerd tc-1 nummer.md | bg-19.2.Alleen-Niveau-Twee.OI | N/A | Taxco niet in dataset:  `bg-19.2.Alleen-Niveau-Twee.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 6. Taxonomie code met verkeerd tc-1 nummer |
| ⚠️ | 7. Taxonomie code met niet bestaand onderwerp | 7. Taxonomie code met niet bestaand onderwerp.md | bg-24.2.Dit-Onderwerp-Bestaat-Niet.OI | N/A | Taxco niet in dataset:  `bg-24.2.Dit-Onderwerp-Bestaat-Niet.OI`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 7. Taxonomie code met niet bestaand onderwerp |
| ⚠️ | 8. Taxonomie code met een niet bestaand 4CID component | 8. Taxonomie code met een niet bestaand 4CID component.md | bg-24.2.Alleen-Niveau-Twee.JH | N/A | Ongeldige taxco:  `bg-24.2.Alleen-Niveau-Twee.JH`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 8. Taxonomie code met een niet bestaand 4CID component |
| ⚠️ | 9. Taxonomie code zonder 4CID component (tc-4) | 9. Taxonomie code zonder 4CID component (tc-4).md | bg-24.2.Alleen-Niveau-Twee | N/A | Ongeldige taxco:  `bg-24.2.Alleen-Niveau-Twee`<br>Titel komt niet overeen met bestandsnaam<br>- Titel: None<br>- Bestandsnaam: 9. Taxonomie code zonder 4CID component (tc-4) |


## Gefaalde media bestanden
*Doel: De onderstaande media bestanden worden niet gebruikt in een bestand.*

| Status | Image | Path | Error |
| --- | --- | --- | --- |
| 🔨 | OI_test_image_2.png | src\OI_test_image_2.png | Afbeelding wordt niet gebruikt:  `OI_test_image_2.png` |
| 🔨 | PI_test_image_4.png | src\PI_test_image_4.png | Afbeelding wordt niet gebruikt:  `PI_test_image_4.png` |
| 🔨 | test_image_1.png | src\test_image_1.png | Afbeelding wordt niet gebruikt:  `test_image_1.png` |


## Genegeerde bestanden
*Doel: De onderstaande bestanden worden genegeerd.*

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |


## Geslaagde bestanden
*Doel: De onderstaande bestanden zijn succesvol verwerkt.*

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
