---
draft: true
---
## Work-in-progress bestanden
*Doel: De onderstaande bestanden hebben nog todo items in de markdown staan.*
Deze todo items moeten nog worden afgehandeld.

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| 🔨 | 26. Work-in-progress bestand met taxonomie code | 26. Work-in-progress bestand met taxonomie code.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | Work-in-progress items gevonden: <br>-=ENUM=- |
| 🔨 | 33. Bestand met meerdere WIP items | 33. Bestand met meerdere WIP items.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | Work-in-progress items gevonden: <br>-=TODO=-<br>-=TWEEDETODO=- |


## Gefaalde bestanden
*Doel: De onderstaande bestanden zijn niet succesvol verwerkt.*

❌ Dit bestand bevat nog geen taxonomie codes.
⚠️ Dit bestand bevat fouten. Zie de *Errors* kolom.

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| ⚠️ | 10. Taxonomie code zonder onderwerp (tc-3) | 10. Taxonomie code zonder onderwerp (tc-3).md | bg-24.2.OI | N/A | Ongeldige taxco:  `bg-24.2.OI` |
| ⚠️ | 11. Taxonomie code zonder niveau (tc-2) | 11. Taxonomie code zonder niveau (tc-2).md | bg-24.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.Alleen-Niveau-Twee.OI` |
| ⚠️ | 12. Taxonomie code zonder tc-1 | 12. Taxonomie code zonder tc-1.md | 2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 13. Taxonomie code met 0 in tc-1 | 13. Taxonomie code met 0 in tc-1.md | bg-0.2.Alleen-Niveau-Twee.OI | N/A | Taxco niet in dataset:  `bg-0.2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 14. Taxonomie code met spaties in tc-3 | 14. Taxonomie code met spaties in tc-3.md | bg-24.2.Alleen Niveau Twee.OI | N/A | Ongeldige taxco:  `bg-24.2.Alleen Niveau Twee.OI` |
| ⚠️ | 15. Taxonomie code met spatie tussen tc-1 en tc-2 | 15. Taxonomie code met spatie tussen tc-1 en tc-2.md | bg-24. 2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24. 2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 16. Taxonomie code met spaties tussen tc-2 en tc-3 | 16. Taxonomie code met spaties tussen tc-2 en tc-3.md | bg-24.2. Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.2. Alleen-Niveau-Twee.OI` |
| ⚠️ | 17. Taxonomie code spaties tussen tc-3 en tc-4 | 17. Taxonomie code spaties tussen tc-3 en tc-4.md | bg-24.2.Alleen-Niveau-Twee. OI | N/A | Ongeldige taxco:  `bg-24.2.Alleen-Niveau-Twee. OI` |
| ⚠️ | 18. Taxonomie code die niet behandeld hoeft te worden | 18. Taxonomie code die niet behandeld hoeft te worden.md | bg-24.2.Geen-Niveau.OI<br>bg-24.3.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>Geen-Niveau<br>bg-24.2.Geen-Niveau.OI<br>bg-24.3.Alleen-Niveau-Twee.OI | Taxco gebruikt wanneer niet nodig:  `bg-24.2.Geen-Niveau.OI`<br>Taxco gebruikt wanneer niet nodig:  `bg-24.3.Alleen-Niveau-Twee.OI` |
| ⚠️ | 2. Taxonomie code op negatief niveau | 2. Taxonomie code op negatief niveau.md | bg-24.-2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.-2.Alleen-Niveau-Twee.OI` |
| ❌ | 21. Fouten in dynamisch link opgelost | 21. Fouten in dynamisch link opgelost.md | N/A | N/A | Bestand niet gevonden:  `foutieveLinkEen`<br>Bestand niet gevonden:  `foutieveLinkTwee`<br>Geen taxco gevonden |
| ⚠️ | 22. Twee taxonomie codes met fouten | 22. Twee taxonomie codes met fouten.md | bg-0.2.Alleen-Niveau-Twee.OI<br>bg-24.2.Alleen-Niveau-Twee.JH | N/A | Taxco niet in dataset:  `bg-0.2.Alleen-Niveau-Twee.OI`<br>Ongeldige taxco:  `bg-24.2.Alleen-Niveau-Twee.JH` |
| ⚠️ | 27. Taxonomie code met te veel punten | 27. Taxonomie code met te veel punten.md | bg-24.2.Alleen.Niveau.Twee.LT | N/A | Ongeldige taxco:  `bg-24.2.Alleen.Niveau.Twee.LT` |
| ⚠️ | 28. Taxonomie code met spaties bij onderwerp | 28. Taxonomie code met spaties bij onderwerp.md | bg-24.2.Alleen Niveau.Twee.LT | N/A | Ongeldige taxco:  `bg-24.2.Alleen Niveau.Twee.LT` |
| ⚠️ | 29. Taxonomie code met spatie in onderwerp en punt te veel | 29. Taxonomie code met spatie in onderwerp en punt te veel.md | bg-24.2.Alleen Niveau Twee.LT | N/A | Ongeldige taxco:  `bg-24.2.Alleen Niveau Twee.LT` |
| ⚠️ | 3. Taxonomie code op niveau 0 | 3. Taxonomie code op niveau 0.md | bg-24.0.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.0.Alleen-Niveau-Twee.OI` |
| ⚠️ | 30. Taxonomie code met lege lijst(en) | 30. Taxonomie code met lege lijst(en).md | []<br>["[]"]<br>None<br>["None"]<br>[""]<br>"None" | N/A | Ongeldige taxco:  `[]`<br>Ongeldige taxco:  `["[]"]`<br>Ongeldige taxco:  `None`<br>Ongeldige taxco:  `["None"]`<br>Ongeldige taxco:  `[""]`<br>Ongeldige taxco:  `"None"` |
| ❌ | 31. Work-in-progress bestand zonder taxonomie code | 31. Work-in-progress bestand zonder taxonomie code.md | N/A | N/A | Geen taxco gevonden<br>Work-in-progress items gevonden: <br>-=TODO=- |
| ⚠️ | 36. Niet bestaande image files | 36. Niet bestaande image files.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | Bestand niet gevonden:  `2.1 Afbeelding niet gevonden.png`<br>Bestand niet gevonden:  `2.1 Afbeelding niet gevonden.png\|Afbeelding niet gevonden` |
| ⚠️ | 37. Niet bestaande PDF | 37. Niet bestaande PDF.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | Bestand niet gevonden:  `nietBestaande.pdf`<br>Bestand niet gevonden:  `nietBestaande.pdf\|nietBestaand` |
| ⚠️ | 38. WIP bestand met een foute taxonomie code | 38. WIP bestand met een foute taxonomie code.md | bg-24.2.Alleen.Niveau.Twee.OI | N/A | Ongeldige taxco:  `bg-24.2.Alleen.Niveau.Twee.OI`<br>Work-in-progress items gevonden: <br>-=TODO=- |
| ⚠️ | 39. Bestand met meerdere page frontmatters | 39. Bestand met meerdere page frontmatters.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | Meerdere pagina frontmatters gevonden: 'tags' |
| ⚠️ | 4. Taxonomie code op niveau 4 | 4. Taxonomie code op niveau 4.md | bg-24.4.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg-24.4.Alleen-Niveau-Twee.OI` |
| ⚠️ | 40. Tags heeft None in de page frontmatters | 40. Tags heeft None in de page frontmatters.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>None<br>bg-24.2.Alleen-Niveau-Twee.OI | 'None' gevonden in de page frontmatter tags |
| ⚠️ | 41. Titel niet gelijk aan de bestandsnaam | 41. Titel niet gelijk aan de bestandsnaam.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | Titel komt niet overeen met bestandsnaam<br>- Titel: 41. Titel niet gelijk aan de bestandsnaam dus dit is een fout<br>- Bestandsnaam: 41. Titel niet gelijk aan de bestandsnaam |
| ⚠️ | 42. Bold teksten tests | 42. Bold teksten tests.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | Dikgedrukte tekst is verkeerd opgemaakt<br>- \*\*\*\*teveel\*\*\*\* |
| ⚠️ | 43. Taxonomie code met mismatch tussen tc1 en tc3 | 43. Taxonomie code met mismatch tussen tc1 en tc3.md | ib-19.2.Alleen-Niveau-Twee.OI | N/A | Taxco niet in dataset:  `ib-19.2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 44. Taxonomie code zonder letters voor tc1 | 44. Taxonomie code zonder letters voor tc1.md | 2.2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `2.2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 45. Taxonomie code met 1 letter voor tc1 | 45. Taxonomie code met 1 letter voor tc1.md | b-24.2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `b-24.2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 46. Taxonomie code met _ als tc1 divider | 46. Taxonomie code met _ als tc1 divider.md | bg_24.2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg_24.2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 47. Taxonomie code met . als tc1 divider | 47. Taxonomie code met . als tc1 divider.md | bg.24.2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg.24.2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 5. Taxonomie code met negatieve tc-1 | 5. Taxonomie code met negatieve tc-1.md | bg--24.2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxco:  `bg--24.2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 6. Taxonomie code met verkeerd tc-1 nummer | 6. Taxonomie code met verkeerd tc-1 nummer.md | bg-19.2.Alleen-Niveau-Twee.OI | N/A | Taxco niet in dataset:  `bg-19.2.Alleen-Niveau-Twee.OI` |
| ⚠️ | 7. Taxonomie code met niet bestaand onderwerp | 7. Taxonomie code met niet bestaand onderwerp.md | bg-24.2.Dit-Onderwerp-Bestaat-Niet.OI | N/A | Taxco niet in dataset:  `bg-24.2.Dit-Onderwerp-Bestaat-Niet.OI` |
| ⚠️ | 8. Taxonomie code met een niet bestaand 4CID component | 8. Taxonomie code met een niet bestaand 4CID component.md | bg-24.2.Alleen-Niveau-Twee.JH | N/A | Ongeldige taxco:  `bg-24.2.Alleen-Niveau-Twee.JH` |
| ⚠️ | 9. Taxonomie code zonder 4CID component (tc-4) | 9. Taxonomie code zonder 4CID component (tc-4).md | bg-24.2.Alleen-Niveau-Twee | N/A | Ongeldige taxco:  `bg-24.2.Alleen-Niveau-Twee` |


## Gefaalde media bestanden
*Doel: De onderstaande media bestanden worden niet gebruikt in een bestand.*

| Status | Image | Path | Error |
| --- | --- | --- | --- |
| 🔨 | 1.4 Windesheim.png | src/1.4 Windesheim.png | Afbeelding wordt niet gebruikt:  `1.4 Windesheim.png` |
| 🔨 | 1.5 Latex.png | src/1.5 Latex.png | Afbeelding wordt niet gebruikt:  `1.5 Latex.png` |
| 🔨 | 1.6 test.gif | src/1.6 test.gif | Afbeelding wordt niet gebruikt:  `1.6 test.gif` |
| 🔨 | test die niet gebruikt wordt.pdf | src/test die niet gebruikt wordt.pdf | PDF wordt niet gebruikt:  `test die niet gebruikt wordt.pdf` |


## Genegeerde bestanden
*Doel: De onderstaande bestanden worden genegeerd.*

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| ⚠️ | 32. Bestand met ignored tag | 32. Bestand met ignored tag.md | N/A | N/A | Bestand wordt genegeerd door ignore tag |


## Geslaagde bestanden
*Doel: De onderstaande bestanden zijn succesvol verwerkt.*

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| ✅ | 1. Correct taxonomie codes | 1. Correct taxonomie codes.md | bg-24.2.Alleen-Niveau-Twee.PI<br>bg-24.2.Niveau-Twee-En-Drie.PI<br>bg-24.3.Niveau-Twee-En-Drie.PI<br>ib-19.2.Ander-Eerste-Onderdeel.PI<br>ib-19.3.Ander-Eerste-Onderdeel.PI | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Alleen-Niveau-Twee<br>Ander-Eerste-Onderdeel<br>Beheerproces<br>Bouwen softwaresysteem<br>Gebruiken beheersysteem<br>Implentatieproces<br>Niveau-Twee-En-Drie<br>bg-24.2.Alleen-Niveau-Twee.PI<br>bg-24.2.Niveau-Twee-En-Drie.PI<br>bg-24.3.Niveau-Twee-En-Drie.PI<br>ib-19.2.Ander-Eerste-Onderdeel.PI<br>ib-19.3.Ander-Eerste-Onderdeel.PI | N/A |
| ✅ | 19. Dezelfde taxonomie code twee keer | 19. Dezelfde taxonomie code twee keer.md | bg-24.2.Alleen-Niveau-Twee.DT<br>bg-24.2.Alleen-Niveau-Twee.DT | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.DT | N/A |
| ✅ | 20. Dezelfde taxonomie code twee keer, maar ander niveau | 20. Dezelfde taxonomie code twee keer, maar ander niveau.md | bg-24.3.Niveau-Twee-En-Drie.LT<br>bg-24.2.Niveau-Twee-En-Drie.LT | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Beheerproces<br>Gebruiken beheersysteem<br>Niveau-Twee-En-Drie<br>bg-24.2.Niveau-Twee-En-Drie.LT<br>bg-24.3.Niveau-Twee-En-Drie.LT | N/A |
| ✅ | 23. Taxonomie code met al bestaande tag | 23. Taxonomie code met al bestaande tag.md | bg-24.2.Alleen-Niveau-Twee.PI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>DezeTagMoetBlijvenBestaan<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.PI | N/A |
| ✅ | 24. Taxonomie code met al bestaande tag gelijk aan het onderwerp | 24. Taxonomie code met al bestaande tag gelijk aan het onderwerp.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | N/A |
| ✅ | 25. Toegestane image files | 25. Toegestane image files.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | N/A |
| ✅ | 34. Toegestane PDF files | 34. Toegestane PDF files.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | N/A |
| ✅ | 35. Links met heading tag | 35. Links met heading tag.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | N/A |
